/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Variables */

:root {
  --color-background: #f4f4f4;
  --color-text: #222222;
  --color-link: #3c1143;
  --color-link-hover: #c25178;
  --max-width: 1024px;
  --min-width: 320px;
}

/* Base/Custom */

html,
body {
  font: 16px/16px 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: var(--color-background);
  background-size: cover;
  color: var(--color-text);
}

a {
  color: var(--color-link);
  text-decoration: underline;
  transition: all 80ms ease-in;
}

a:hover,
a:focus {
  text-decoration: none;
  color: var(--color-link-hover);
}

h1, h2, h3, strong {
  font-weight: bold;
}

.wrapper {
  margin: 0 auto;
  display: block;
  max-width: calc(var(--max-width) - 2rem);
  min-width: calc(var(--min-width) - 2rem);
  min-height: calc(100vh - 2rem);
  padding: 1rem;
}

header {
  display: block;
  text-align: center;
  padding: 1.3rem 0;
}

@media only screen and (min-width : 600px) {
  header {
    display: flex;
    flex: 1;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }
}

header h1 {
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 100;
}

header h1 a {
  text-decoration: none;
}

header nav ul {
    display: block;
    margin: 20px auto;
}

@media only screen and (min-width : 600px) {
  header nav ul {
    display: flex;
    flex: 1;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
  }
}

header nav ul li {
    display: block;
    margin: 0 0.3rem 0.3rem;
}

@media only screen and (min-width : 600px) {
  header nav ul li {
    margin: 0 0.3rem;
  }
}

header nav ul li a {
  display: block;
  padding: 0.5rem;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;
}

header nav ul li.active a {
  color: var(--color-link-hover);
}

footer {
  display: block;
  padding: 2rem 0;
  margin: 0 auto;
  text-align: center;
}

footer nav ul {
  display: block;
}

@media only screen and (min-width : 600px) {
  footer nav ul {
    display: flex;
    flex: 1;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }
}

footer nav ul li {
    margin: 0 auto 2rem;
}

@media only screen and (min-width : 600px) {
  footer nav ul li {
    margin: 0 0 1rem;
  }

  footer nav ul li:after {
    content: '/';
    display: inline-block;
    margin: 0 2rem;
    font-weight: 300;
  }
}

footer nav ul li:last-child:after {
  display: none;
}

footer nav ul li a {
  text-decoration: none;
  font-weight: bold;
}

footer h3 {
  font-size: 0.8rem;
  line-height: 1rem;
  font-weight: 300;
  margin-top: 3rem;
}

@media only screen and (min-width : 600px) {
  footer h3 {
    margin-top: 1rem;
  }
}

footer h3 a {
  text-decoration: none;
}

#loading {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  z-index: 10000;
  background: transparent;
  transition: all 200ms ease-in-out;
  visibility: visible;
  opacity: 1;
}

#loading svg path,
#loading svg rect {
  fill: rgba(0, 0, 0, 0.8);
}

#loading.hide {
  opacity: 0;
  visibility: hidden;
}

button, .button {
  margin: 1rem auto;
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 3px;
  color: #fff;
  background: var(--color-link);
  cursor: pointer;
  display: inline-block;
}

button:hover,
button:active,
button:focus,
.button:hover,
.button:active,
.button:focus {
  background: var(--color-link-hover);
}

fieldset {
  display: block;
  padding: 2rem;
  border: none;
  margin: 2rem 0;
  border-radius: 3px;
  background: #fff;
  transition: all 100ms ease-in-out;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

fieldset > label {
  font-size: 1rem;
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

fieldset > label.checkbox {
  cursor: pointer;
  display: inline-block;
}

fieldset input[type="text"],
fieldset input[type="date"],
fieldset input[type="datetime"],
fieldset input[type="email"],
fieldset input[type="number"],
fieldset input[type="search"],
fieldset input[type="time"],
fieldset input[type="url"],
fieldset input[type="password"],
fieldset textarea,
fieldset select {
  box-sizing: border-box;
  width: 100%;
  display: block;
  outline: none;
  border: none;
  height: 2.5rem;
  line-height: 2.5rem;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  border: 1px solid #fff;
  background: #fff;
  border-radius: 3px;
  transition: all 80ms ease-in-out;
}

fieldset input[type="text"]:focus,
fieldset input[type="date"]:focus,
fieldset input[type="datetime"]:focus,
fieldset input[type="email"]:focus,
fieldset input[type="number"]:focus,
fieldset input[type="search"]:focus,
fieldset input[type="time"]:focus,
fieldset input[type="url"]:focus,
fieldset input[type="password"]:focus,
fieldset textarea:focus,
fieldset select:focus {
  border-color: var(--color-link-hover);
}

fieldset textarea {
  min-height: 10rem;
  resize: vertical;
}

.error,
.success,
.warning {
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 3px;
  border-bottom: 3px solid rgb(161, 0, 0);
  color: var(--color-text);
  background-image: linear-gradient(rgb(255, 166, 166), #faa);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
}

.success {
  border-color: rgb(0, 161, 0);
  background-image: linear-gradient(rgb(166, 255, 166), #afa);
}

.warning {
  border-color: rgb(161, 158, 0);
  background-image: linear-gradient(rgb(251, 255, 170), rgb(245, 245, 133));
}

.error h3,
.success h3,
.warning h3,
.error p,
.success p,
.warning p {
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--color-text);
  margin-bottom: 1rem;
}

.error p,
.success p,
.warning p {
  font-size: 1rem;
  font-weight: normal;
}

/* Index */
.main-section {
  margin: 2rem auto;
  padding-bottom: 2rem;
  border-bottom: 5px solid var(--color-link-hover);
}
.main-section:last-of-type {
  border: none;
}

.main-section p {
  font-size: 1rem;
  line-height: 1.7rem;
  margin-bottom: 1rem;
}

.main-title {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 2rem;
  font-weight: 500;
}
